/**
 * @file plugins/themes/default/styles/footer.less
 *
 * Copyright (c) 2014-2020 Simon Fraser University
 * Copyright (c) 2003-2020 John Willinsky
 * Distributed under the GNU GPL v3. For full terms see the file docs/COPYING.
 *
 * @brief Classes for the page footer elements
 */

.pkp_structure_footer_wrapper {
	background: @bg-shade;
}

.pkp_structure_footer {
	text-align: center;
}

.pkp_footer_content {
	padding: @triple;
	text-align: left;
}

// OJS brand images in footer
.pkp_brand_footer {
	.pkp_helpers_clear();
	padding: @triple;

	a {
		float: right;
		display: block;
		max-width: 150px;
	}
}